* {
    box-sizing: border-box;
  }
  .text-red {
    color: red;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: #eee;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #aaa;
    text-align: center;
    text-decoration: none;
    color: #555;
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
  }
  
  main {
    padding: 1rem;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  form p {
    margin: 0;
  }
  form > div {
    margin-bottom: 10px;
  }
  
  form input {
    border: none;
    width: 100%;
    border-bottom: 1px solid;
  }
  
  form input:focus {
    outline: none;
    border-bottom: 1px solid blue;
  }
  
  .btn {
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #aaa;
    color: #fff;
  }
  .btn:hover{
    background-color: rgb(54, 140, 70);
  }
  
  table {
    margin-top: 20px;
  }
  table,
  tr,
  td {
    border: 1px solid;
    border-collapse: collapse;
  }
  td {
    padding: 10px;
  }
  